img {
    width: 100px;
    height: 100px;
}

.movie-row {
    transition: background-color 50ms;
    background-color: black;
}

td {
    color: #0E6EB8;
}

h1 {
    color: white;
}

.ui.inverted.table th {
    color: #0E6EB8 !important;
}

div, table, thead {
    background-color: black !important;
}