.movie-list {
    margin-top: 20px;
    background-color: black;

}

.table-header {
    background-color: black !important;
    color: #0E6EB8 !important;
}

img {
    width: 100px;
    height: 100px;
    grid-row-end: span 3;
}

.movie-row {
    transition: background-color 50ms;
    background-color: black;
}

.movie-row:hover {
    box-shadow: rgba(0,0,0,.5);
    /* opacity: 0.8; */
    background-color: #303030 !important;
    /* transition: background-color 50ms; */
}

div, table, thead {
    background-color: black !important;
}